<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="and.fast.video.editor">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application
        android:allowBackup="true"
        android:supportsRtl="true">

        <activity
            android:name="and.fast.video.eidtor.ui.VideoCameraActivity"
            android:configChanges="keyboard|orientation|screenSize"
            android:screenOrientation="portrait" />

        <activity
            android:name="and.fast.video.eidtor.ui.TrimVideoActivity"
            android:configChanges="keyboard|orientation|screenSize"
            android:hardwareAccelerated="true"
            android:screenOrientation="portrait" />

    </application>

</manifest>
